@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://use.typekit.net/gnh8ezk.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'mr-eaves-modern', 'poppins', 'semplicita pro', 'arial';
  font-size: 1rem;
  position: relative;
  height: 100vh;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f9fa;
}

h1 {
  font-family: 'freight-sans-pro', sans-serif;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100vw;
  display: none;
}

div#root {
  position: relative;
}

.mini-intro {
  font-size: 0.7rem;
}

.form-signin {
  width: 100%;
  max-width: 460px;
  padding: 15px;
  margin: auto;
  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input {
    margin-bottom: 5px;
    border-radius: 0.25rem;
  }
}

i.fa {
  border-radius: 50rem;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 0.7rem;
  &.fa-facebook {
    background: #2e3192;
    padding: 6px 0 0 8px;
  }
  &.fa-twitter {
    background: #00aeef;
    padding: 6px 0 0 7px;
  }
  &.fa-linkedin {
    background: #84c732;
    padding: 5px 3px 0 6.5px;
  }
  &.fa-pinterest {
    background: #cd486b;
    padding: 6px 0 0 6.5px;
  }
  &.fa-instagram {
    background: #8a3ab9;
    padding: 6px 0 0 6.5px;
  }
  &.fa-pie-chart {
    background: #009688;
    padding: 6px 0 0 6.5px;
  }
  &.fa-hashtag {
    background: #3f51b5;
    padding: 6px 0 0 6px;
  }
}

span#basic-addon1 {
  .fa-facebook {
    color: #2e3192;
  }
  .fa-twitter {
    color: #00aeef;
  }
  .fa-linkedin {
    color: #84c732;
  }
  .fa-pinterest {
    color: #cd486b;
  }
  .fa-instagram {
    color: #8a3ab9;
  }
  .fa-pie-chart {
    color: #009688;
  }
  .fa-hashtag {
    color: #3f51b5;
  }
}

.startDate {
  display: inline-flex;
}

.range-slider {
  background: #ccccff;
  height: 8px;
  width: 100%;
  border-radius: 10rem;
  position: relative;
  top: 46%;
}

.create-profile .site-traffic .range-slider {
  top: 15px;
}

.range-slider {
  &.client {
    top: 15px;
  }
  .fa {
    transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    /* transition-delay: 1s; */
    position: absolute;
    top: -0.5rem;
    padding-top: 20px;
    &:hover {
      transform: scale(1.3);
      box-shadow: 0px 5px 8px 0px #b3b3b3;
      cursor: pointer;
      z-index: 2;
    }
  }
}

i {
  &.input-icon.fa {
    background: transparent;
    color: rgb(24, 162, 185);
    padding: 0;
    height: 0.9rem;
    font-size: 1rem;
  }
  &.fa {
    &.fa-tachometer {
      font-size: 1.3rem;
      margin-left: 0.5rem;
    }
    &.fa-laptop {
      color: #e87305;
    }
    &.fa-code {
      background: #e87305;
      padding: 6px 0 0px 5px;
    }
  }
}

.card-body .fa {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.hide-btn-col {
  max-width: 50%;
}

.form-check *:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.tableHover {
  &:hover {
    .hide_opacity {
      opacity: 1;

      &:nth-child(2) {
        color: red;
      }
    }
  }
}

.adminGuard {
  &:hover {
    .hide_opacity {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.hide_opacity {
  opacity: 0;
}

.userInfo.form-group.input-group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#manage-user {
  span {
    font-size: 1rem;
    padding-right: 2rem;
  }

  input#react-select-2-input {
    width: 100% !important;
  }
  .css-1rtrksz {
    padding: 0;
    border-right: none;
  }
  .css-rsyb7x {
    margin: 0;
    padding: 0;

    &,
    * {
      width: 100%;
    }
  }
}

i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw {
  border-radius: 50rem;
  font-size: 7.7rem;
  height: auto;
  width: auto;
}

.before li {
  width: 15%;
}

/* a.btn {
  line-height: 1;
} */

p {
  &.lead {
    font-size: 2rem;
    line-height: 1;
  }
  font-size: 1.3rem;
  line-height: 1;
}

/* .toggleShowCollapse {
  width: 6rem;
} */

// .wow {
//   visibility: hidden;
// }
